{% extends 'layout.html.twig' %}

{% block content %}
    <h2>{{ 'page.game.title'|trans }}</h2>

    <p class="attempts">
        {#{{ 'page.game.remaining_attempts'|transchoice(game.remainingAttempts, {'%number%': game.remainingAttempts}) }}#}
    </p>
    
    <ul class="word_letters">
        {% for letter in game.wordLetters %}
            {% set isFound = letter in game.foundLetters %}
            <li class="letter {{ isFound ? "guessed" : "hidden" }}">
                {{ isFound ? letter : '?' }}
            </li>
        {% endfor %}
    </ul>

    <br class="clearfix" />

    <p class="attempts">
        <a href="{{ path('game_reset') }}">{{ 'page.game.reset'|trans }}</a>
    </p>
    <br class="clearfix" />

    <h2>{{ 'page.game.try_letter'|trans }}</h2>

    <ul>
        {% for letter in 'A'..'Z' %}
            <li class="letter">
                {% if letter|lower in game.triedLetters %}
                    {{ letter }}
                {% else %}
                <a href="{{ path('game_play_letter', {letter: letter}) }}">
                    {{ letter }}
                </a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>

    <h2>{{ 'page.game.try_word'|trans }}</h2>

    <form action="{{ path('game_play_word') }}" method="post">
        <p>
            <label for="word">{{ 'page.game.word'|trans }}:</label>
            <input type="text" id="word" name="word"/>
            <button type="submit">{{ 'page.game.guess_button'|trans }}</button>
        </p>
    </form>
{% endblock %}
