{% extends 'base.html.twig' %}

{% block body %}
    <h1>WordList</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ wordList.id }}</td>
            </tr>
            <tr>
                <th>Words</th>
                <td>{{ wordList.words }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('wordlist_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('wordlist_edit', { 'id': wordList.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
